<nav class="border-b-2">
  <div class="flex justify-between items-center py-4 px-8">
    <a (click)="navigateToHome()" class="cursor-pointer">
      <img src="./assets/logo.svg" alt="logo" class="max-w-24 max-h-32">
    </a>
    <div class="items-center">
      <mat-form-field class="w-128">
        <mat-icon matIconSuffix>search</mat-icon>
        <mat-label>Search anywhere</mat-label>
        <input matInput/>
      </mat-form-field>
    </div>
    <div class="flex justify-center items-center space-x-4">
      <div class="flex justify-center items-center space-x-4">
        <span class="text-lg text-custom-primary">Simple View</span>
        <mat-slide-toggle (change)="onToggleChange($event)"></mat-slide-toggle>
        <span class="text-lg">Block View</span>
      </div>
    </div>
  </div>
</nav>
